body {
//  background-color: #fff;
  color: white;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-height: 1200px;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
  background-size: cover;
  background-repeat: no-repeat;
}


.button.btn.btn-info {
	color: white;
}




h1.subject {
	color: black;
}

.introduction {
	color: black;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
   // background-color: white;
  }
}

th {
  padding-bottom: 5px;
  color: white;
}

td {
  padding: 0 5px 7px;
  color: white;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
	color: black;
  }
}

#notice {
  color: green;
}

.field_with_errors {
//  padding: 2px;
//  background-color: red;
//  display: table;
}

#error_explanation {
  width: 100%;
//  border: 2px solid red;
//  padding: 7px 7px 0;
//  margin-bottom: 20px;
//  background-color: #f0f0f0;
//  text-align: center;
  -webkit-animation:blink 0.8s ease-in-out infinite alternate;
  -moz-animation:blink 0.8s ease-in-out infinite alternate;
  animation:blink 0.8s ease-in-out infinite alternate;

  
  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
//    background-color: #c00;
//    color: #fff;
  }

  ul li {
    font-size: 12px;
//    list-style: square;
	color: black;
  }
}

label {
  display: block;
}

a {
  color: white;
}
.area {
  color: white;
}

.jumbotron {
	background: image-url('shareing.jpg') center no-repeat;
	background-size: cover;

}

.forms {
	text-align: center;
}

field {
	text-align: center;
}

.image_post {
//	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
}

.content {
	text-align: center;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


#post_image {
	text-align: center;
}

input#post_image {
	margin-left: 40%;
	margin-right: 40%;
}

input {
	color: black;
}
